# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de VS Code
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json

# Archivos temporales
*.tmp
*.temp
*~
.DS_Store
Thumbs.db

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de logs
*.log

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Archivos de configuración local
config.ini
secrets.txt
